<% title Prmat.label %>

<p>
  <strong>Name:</strong>
  <%=h @prmat.name %>
</p>

<p>
  <%= link_to "Show all dates for " + @prmat.name, samples_path(:scope => {"prmats.id"=>@prmat.id} ) %>
</p>

<p>
  <%= show_view_links(@prmat) %>
</p>
