<% title "Dating Method" %>

<p>
  <strong>Name:</strong>
  <%=h @dating_method.name %>
</p>

<p>
  <%= link_to "Show all dates for " + @dating_method.name, search_path(:params => {"combine_option"=>"and", "commit"=>"Search", "action"=>"show", "search_0.samples.dating_method_id.id"=>@dating_method.id, "haupttabelle_id"=>"samples", "controller"=>"searches",  "operator_0.samples.dating_method_id.id"=>"="}) %>
</p>

<p>
  <%= show_view_links(@dating_method) %>
</p>
