<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1><%= @announcement.title %></h1>

    <div class="info">
      on <%= @announcement.created_at.strftime('%b %d, %Y') %>
    </div>
    <div class="content"><%= markdown @announcement.content %></div>

    <p><%=show_view_links(@announcement)%></p>

    </div>
  </div>
</div>
