<% title "Feature Type" %>

<p>
  <strong>Name:</strong>
  <%=h @feature_type.name %>
</p>
<p>
  <strong>Comment:</strong>
  <%=h @feature_type.comment %>
</p>

<p>
  <%= link_to "Show all dates for " + @feature_type.name, samples_path(:scope => {"feature_types.id"=>@feature_type.id} ) %>
</p>

<p>
  <%= show_view_links(@feature_type) %>
</p>
