<% title "Culture" %>

<p>
  <strong>Name:</strong>
  <%=h @culture.name %>
</p>
<p>
  <strong>Phases:</strong>
  <ul>
    <% unless @culture.phases.blank? -%>
      <% @culture.phases.each do |phase| -%>
        <li>
          <%= link_to phase.name, phase -%>
        </li>
      <% end -%> 
    <% else -%>
      none
    <% end -%>
  </ul>
</p>

<p>
  <%= link_to "Show all dates for " + @culture.name, samples_path(:scope => {"cultures.id"=>@culture.id} ) %>
</p>

<p>
  <%= show_view_links(@culture) %>
</p>
