<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<h1>Map#index</h1>
<p>Find me in app/views/map/index.html.erb</p>
<div id="results" style="width: 512px; height: 256px;float:left;overflow:auto;"></div>
<div id="map" style="width: 512px; height: 256px;float:left;"></div>
<%#= show_map.to_html.html_safe %>
<%= render "map_core" %>
