<% title @page.name.humanize  unless @page.blank? || @page.name.blank?-%>
<div class="row">

<%=@page.content.html_safe unless @page.blank? %>

<%if @page.name == 'home' %>
  <%= javascript_tag defer: 'defer' do -%>
    var tables = $("#navbar").find( ":contains('Tables')" )[2];
    console.log(tables);
    $(tables).popover({
      content : "You are probably looking for this menu if you want to access the data!",
      placement: "bottom",
      delay: { show: 500, hide: 500 },
      trigger: "manual"
  });

  tmp = setTimeout(function(){$(tables).popover('show')}, 1000);
  tmp = setTimeout(function(){$(tables).popover('hide')}, 10000);
  $(tables).click(function(){$(tables).popover('hide')});

  <% end -%>
  <% if permitted_to? :index, :announcements -%>
    <%= render partial: 'announcements/show_latest_announcements'%>
  <% end -%>
</div>

<%end%>
