<% title "Right" %>

<p>
  <strong>Name:</strong>
  <%=h @right.name %>
</p>

<p>
  <%= link_to "Show all dates for " + @right.name, search_path(:params => {"combine_option"=>"and", "commit"=>"Search", "action"=>"show", "search_0.samples.right_id.id"=>@right.id, "haupttabelle_id"=>"samples", "controller"=>"searches",  "operator_0.samples.right_id.id"=>"="}) %>
</p>

<p>
  <%= show_view_links(@right) %>
</p>
