<% title "Roles" %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for role in @roles %>
    <tr>
      <td><%=h role.name %></td>
      <td><%= index_table_links(role) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Role", new_role_path %></p>
