      <td><%=h table_object.lab_code %></span></td>
      <td><%=h table_object.name %></td>
      <td><%=h table_object.dating_method.name rescue nil %></td>
      <td><%=h table_object.active %></td>
