<% title "Phase" %>

<p>
  <strong>Name:</strong>
  <%=h @phase.name %>
</p>
<p>
  <strong>Culture:</strong>
  <%=h @phase.culture.name rescue nil %>
</p>
<p>
  <%= link_to "Show all dates for " + @phase.name, samples_path(:scope => {"phases.id"=>@phase.id} ) %>
</p>
<p>
  <%= show_view_links(@phase) %>
</p>
